@{
    Layout = "~/Areas/User/Views/Shared/_BannerLayout.cshtml";
}



<div class="main-section careers-main-section greybg">
    <div class="container">
        <h1 class="careers-heading">CURRENT OPENINGS</h1>

        <div class="row">
            <div class="col-md-6">

                <div class="career-left-one">
                  
                    <h3>No Position(s) Found.</h3>
                   
                </div>

                @*<div class="career-left-one">
                    <h4>Customer Service</h4>
                    <h3>CS REP - Bilingual Korean</h3>
                    <h6><i class="fa fa-map-marker"></i> New York</h6>
                </div>

                <div class="career-left-one">
                    <h4>Marketing</h4>
                    <h3>Social Media Marketing</h3>
                    <h6><i class="fa fa-map-marker"></i> New York</h6>
                </div>

                <div class="career-left-one">
                    <h4>Marketing</h4>
                    <h3>Social Media Marketing</h3>
                    <h6><i class="fa fa-map-marker"></i> New York</h6>
                </div>

                <div class="career-left-one">
                    <h4>Marketing</h4>
                    <h3>Social Media Marketing</h3>
                    <h6><i class="fa fa-map-marker"></i> New York</h6>
                </div>*@
            </div>
            <div class="col-md-6">
                <p class="career-right-para">
                    dunkeydelivery.com empowers the neighborhood economy by enabling customers to order online from their favorite local restaurants, wine and spirits shops, grocery stores, pharmacy, and laundry and dry cleaning providers. Every day more than one million dunkeydelivery.com customers explore their communities and order from more than 10,000 local businesses while at home, at work, or on the go. With headquarters in Atlanta and a growing international presence, dunkeydelivery.com makes e-commerce an integral part of local daily life, helping customers shop, businesses grow, and neighborhoods thrive.
                </p>
                <p>
                    Our current openings offer challenging and rewarding experiences. Check them out and help us change the way people shop in their neighborhoods. We look forward to hearing from you.
                </p>

            </div>
        </div>
    </div>
</div>
