
@{
	ViewBag.Title = "FAQ";
	Layout = "~/Areas/User/Views/Shared/_BannerLayout.cshtml";
}
<div class="main-section faq-main-section greybg">
	<div class="container">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare ullamcorper volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla congue, dolor in porttitor efficitur, ante lacus bibendum velit, eu placerat est nibh quis velit. Sed pulvinar eros nec lectus pretium, sed auctor ligula ultricies. Quisque magna mauris, pulvinar ut libero vel, placerat imperdiet tortor. Mauris molestie, risus vitae fermentum luctus, neque purus consectetur ex, id vulputate est risus quis purus. Phasellus eleifend felis vehicula velit auctor dapibus. Suspendisse potenti. Donec nec interdum dui. Proin sodales tempor risus, aliquam laoreet lectus pretium vitae.

			<ul class="addOnAco accordion">
				<li class="first">
					<a href="javascript:;">What’s dunkeydelivery.com?</a>
					<div class="innerdata activeit" id="innerActive">
						@*<h3>Sed tempor sem sed nisl lobortis, vel euismod diam scelerisque?</h3>*@
                        We never stop delivering. At dunkeydelivery.com, you can order delivery online from your favorite local restaurants, liquor stores, grocery stores, pharmacy and laundry.
                    </div>
				</li>
				<li class="">
					<a href="javascript:;">How do I use dunkeydelivery.com?</a>
					<div class="innerdata" style="display: none;" id="innerActive">
		        <p>
                    Enter your address in the search bar on the home page, select the category that you’d like to browse (i.e. Food, Alcohol, Groceries or Laundry), and press the white Search button. On the results page, you can switch between categories by clicking the tabs at the top of the page.
                </p>
        <p>
            If you know exactly what you’re looking for (e.g. “Starbucks”) or just have a general idea (e.g. “coffee” or “frappe’”), you can also enter keywords into the second search bar.

        </p>
    </div>
	</li>
	<li class="">
		<a href="javascript:;">How do I filter my results?</a>
		<div class="innerdata" style="display: none;" id="innerActive">After you enter your address and press Search, you can sort the results alphabetically, or by customer rating, distance, or minimum subtotal. You can also select and combine filters like cuisine types or special offers.</div>
	</li>
	<li class="">
		<a href="javascript:;">What is the “Default” sort setting?</a>
		<div class="innerdata" style="display: none;" id="innerActive">The default sort is based off of factors like distance, ratings, and your own personal ordering history. It’s not based on paid advertisements from merchants; besides the clearly marked Sponsored listings at the top of the results, we don’t charge merchants to improve their search rank.</div>
	</li>
	<li class="">
		<a href="javascript:;">Why don’t I see my favorite merchant?</a>
		<div class="innerdata" style="display: none;" id="innerActive">If the merchant is closed when you do your search, it will appear at the bottom of the page with the next available delivery time written in green. But if your favorite merchant isn’t already on dunkeydelivery.com, then drop us a line via our Contact Us page. We love suggestions.</div>
	</li>
	<li class="">
		<a href="javascript:;">How much does it cost to use dunkeydelivery.com?</a>
		<div class="innerdata" style="display: none;" id="innerActive">$0. We don’t charge customers anything to use the service, so any delivery fees you might see are coming directly from the merchant to support their delivery staff.</div>
	</li>
	<li class="last">
		<a href="javascript:;" class="a">So how do you make money?</a>
		<div class="innerdata" style="display: none;" id="innerActive">We get a small percentage of the pre-tip subtotal for every order we send to a merchant. We never take a percentage of the tip.</div>
	</li>

</ul>




	</p>
</div>
</div>



