@{
    Layout = "~/Areas/User/Views/Shared/_BannerLayout.cshtml";
}

<div class="main-section investors-main-section">
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="investor-list">
            <li><img src="~/Content/assets/images/google-image.png" class="img img-responsive" /></li>
            <li><img src="~/Content/assets/images/fin-image.png" class="img img-responsive" /></li>
            <li><img src="~/Content/assets/images/facebook-image.png" class="img img-responsive" /></li>
            <li><img src="~/Content/assets/images/google-image.png" class="img img-responsive" /></li>

            <li><img src="~/Content/assets/images/fin-image.png" class="img img-responsive" /></li>
            <li><img src="~/Content/assets/images/facebook-image.png" class="img img-responsive" /></li>
            <li><img src="~/Content/assets/images/google-image.png" class="img img-responsive" /></li>
            <li><img src="~/Content/assets/images/fin-image.png" class="img img-responsive" /></li>

            <li><img src="~/Content/assets/images/facebook-image.png" class="img img-responsive" /></li>
            <li><img src="~/Content/assets/images/google-image.png" class="img img-responsive" /></li>
            <li><img src="~/Content/assets/images/fin-image.png" class="img img-responsive" /></li>
            <li><img src="~/Content/assets/images/facebook-image.png" class="img img-responsive" /></li>

            <li><img src="~/Content/assets/images/google-image.png" class="img img-responsive" /></li>
            <li><img src="~/Content/assets/images/facebook-image.png" class="img img-responsive" /></li>
            <li><img src="~/Content/assets/images/fin-image.png" class="img img-responsive" /></li>
            <li><img src="~/Content/assets/images/fin-image.png" class="img img-responsive" /></li>
        </ul>
    </div>
</div>

