
@{
    ViewBag.Title = "GeneralSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="right_col" role="main">
    <div class="row">
        <div class="x_panel ">
            <div class="x_title">
                <h3 class="pull-left">General Settings</h3>
                <div class="pull-right">
                    <a href="#" class="btn bg-green">
                        <i class="fa fa-plus-square"></i>
                        Save
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <p>

            </p>
            <div class="x_content">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3 col-xs-5" style="text-align:right; ">
                            <label class="control-label" for="">Delivery Fee</label>
                            <span class="ico-help" title="Enter the delivery fee"><i class="fa fa-question-circle"></i></span>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <input type="text" class="form-control text-box single-line"/>
                            </div>
                    </div>
                    </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3 col-xs-5 " style="text-align:right;">
                            <label class="control-label" for="">Nearby Radius</label>
                            <span class="ico-help" title="Enter the nearby radius"><i class="fa fa-question-circle"></i></span>
                        </div>
                        <div class="col-md-4 col-xs-6 ">
                            <input type="text" class="form-control text-box single-line" />
                        </div>
                    </div>


                </div>
        </div>
    </div>
</div>

    </div>