
<div class="content-div clearfix">


    <div class="search-bar clearfix padh4">
        <h4>Credit Cards</h4>
        <!--<form>
        <input type="text"  placeholder="search" />
        <input type="submit" />
          </form>-->
    </div>

    <div class="content-main clearfix">
        <ul class="credit-details">
            <li>Card Number <span>xxx-xxx-xxx-xxx</span></li>
            <li>Expiry <span>mm-yy</span></li>
            <li>CVV<span>125</span></li>
            <li>Billing postal code<span>12548</span></li>
            <li><input type="submit" value="add new card" /></li>
        </ul>
    </div>
</div>