@{
	Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<div class="top-banner">
	<img src="~/Content/assets/images/merchant-top-banner.jpg" class="img img-responsive" />
	<div class="banner-inner-text">
		<h1>Merchants</h1>
		<p class="banner-top-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque est vitae<br /> cursus tincidunt. Mauris egestas vitae erat sed volutpat. Cras semper nunc sed pretium<br /> laoreet. </p>

		<a href="@Url.Action("Register","Merchant")"><button class="join-btn">Join Now</button></a>
	</div>
</div>


<div class="main-section merchant-main-section">

	<div class="merchant-section-one">
		<div class="container">
			<div class="row">
				<div class="col-md-4 merchant-section-one-inner">
					<img src="~/Content/assets/images/1-icon.png" class="img img-responsive" />
					<h1>Millions of Users</h1>
					<p>
						Lorem ipsum dolor sit amet,
						consectetur adipiscing elit. Morbi
						pellentesque est vitae cursus tincidunt.
					</p>
				</div>
				<div class="col-md-4 merchant-section-one-inner">
					<img src="~/Content/assets/images/2-icon.png" class="img img-responsive" />
					<h1>Strategic Partnerships</h1>
					<p>
						Lorem ipsum dolor sit amet,
						consectetur adipiscing elit. Morbi
						pellentesque est vitae cursus tincidunt.
					</p>
				</div>
				<div class="col-md-4 merchant-section-one-inner">
					<img src="~/Content/assets/images/3-icon.png" class="img img-responsive" />
					<h1>Marketing & Ads</h1>
					<p>
						Lorem ipsum dolor sit amet,
						consectetur adipiscing elit. Morbi
						pellentesque est vitae cursus tincidunt.
					</p>
				</div>
				<div class="col-md-4 merchant-section-one-inner">
					<img src="~/Content/assets/images/4-icon.png" class="img img-responsive" />
					<h1>Online Marketplace</h1>
					<p>
						Lorem ipsum dolor sit amet,
						consectetur adipiscing elit. Morbi
						pellentesque est vitae cursus tincidunt.
					</p>
				</div>
				<div class="col-md-4 merchant-section-one-inner">
					<img src="~/Content/assets/images/5-icon.png" class="img img-responsive" />
					<h1>Tools & Tech</h1>
					<p>
						Lorem ipsum dolor sit amet,
						consectetur adipiscing elit. Morbi
						pellentesque est vitae cursus tincidunt.
					</p>
				</div>
				<div class="col-md-4 merchant-section-one-inner">
					<img src="~/Content/assets/images/6-icon.png" class="img img-responsive" />
					<h1>Increase Order Volume</h1>
					<p>
						Lorem ipsum dolor sit amet,
						consectetur adipiscing elit. Morbi
						pellentesque est vitae cursus tincidunt.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="merchant-section-two">
		<div class="container">
			<h1>Premium Services</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id odio libero. Nam lectus magna,<br /> aliquam at sem id, porta sollicitudin felis. Maecenas lacinia libero ac </p>
			<div class="row">
				<div class="col-md-3 merchant-section-two-inner">
					<img src="~/Content/assets/images/1-image.png" class="img img-responsive" />
					<p>Custom <br />Websites</p>
				</div>
				<div class="col-md-3 merchant-section-two-inner">
					<img src="~/Content/assets/images/2-image.png" class="img img-responsive" />
					<p>
						Professional <br />
						Photography
					</p>
				</div>
				<div class="col-md-3 merchant-section-two-inner">
					<img src="~/Content/assets/images/3-image.png" class="img img-responsive" />
					<p>
						Website <br />
						Ordering
					</p>
				</div>
				<div class="col-md-3 merchant-section-two-inner">
					<img src="~/Content/assets/images/4-image.png" class="img img-responsive" />
					<p>
						Sponsored <br />
						Listings
					</p>
				</div>
				<div class="col-md-3 merchant-section-two-inner">
					<img src="~/Content/assets/images/5-image.png" class="img img-responsive" />
					<p>
						Dedicated <br />
						Emails
					</p>
				</div>

			</div>
		</div>
	</div>

	<div class="merchant-section-3">
        <div class="container">
            <h1>How We Market Your Business </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare ullamcorper volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla congue, dolor in porttitor efficitur, ante lacus </p>
            <tabs>
                <div id="tabs-container">
                    <div class="tab">
                        <div id="tab-1" class="tab-content"> <img src="~/Content/assets/images/mobile-image.png" class="img img-responsive" /> </div>
                        <div id="tab-2" class="tab-content"> <img src="~/Content/assets/images/5buksbox.jpg" class="img img-responsive" /> </div>
                        <div id="tab-3" class="tab-content"> <img src="~/Content/assets/images/buyonegetone.jpg" class="img img-responsive" /> </div>
                        <div id="tab-4" class="tab-content"> <img src="~/Content/assets/images/mobile-image.png" class="img img-responsive" /> </div>
                        <div id="tab-5" class="tab-content"> <img src="~/Content/assets/images/blog-image.jpg" class="img img-responsive" /> </div>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="tabs-menu">
                        <li class="current"><a href="#tab-1"> Email promotions</a></li>
                        <li><a href="#tab-2">Social media marketing</a></li>
                        <li><a href="#tab-3">Marketing collateral</a></li>
                        <li><a href="#tab-4">Out-of-home advertisements</a></li>
                        <li><a href="#tab-5">Digital advertisements</a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </tabs>
        </div>
	</div>

	<div class="merchant-section-4">
	 
	</div>

	<div class="merchant-section-5">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Online Order Confirmation</h1>
					<p>
						orem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare ullamcorper volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla congue, dolor in porttitor efficitur, ante lacus
					</p>
				</div>

				<div class="col-md-6">
					<h1>Business Analytics</h1>
					<p>
						orem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare ullamcorper volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla congue, dolor in porttitor efficitur, ante lacus
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="merchant-section-6">
		<div class="container">
			<h1>Dunkey Delivery Logistics</h1>
			<p>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare ullamcorper volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla congue, dolor in porttitor efficitur, ante lacus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare ullamcorper volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla congue, dolor in porttitor efficitur, ante lacus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare ullamcorper volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla congue, dolor in porttitor efficitur, ante lacus
			</p>
		</div>
	</div>


</div>
