

@model  BasketWebPanel.ViewModels.SearchContentVM
<div class="panel-body panel">
    <div class="row">
        <div class="row" style="margin-left:6px; margin-right:6px">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group form-inline  ">
                    <label class="control-label" for="Name" title="">Name</label>
                    <span class="ico-help" title="Search by Contributor's Name'"><i class="fa fa-question-circle"></i></span>
                    <input class="form-control " id="Name" name="Name" type="text" value="">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group form-inline ">
                    <label class="control-label" for="Type" title="Type">Type</label>
                    <span class="ico-help" title="Search by a type of contributor"><i class="fa fa-question-circle"></i></span>
                    @*<input class="form-control text-box single-line " id="CategoryType" name="CategoryType" type="text" value="">*@
                    <select class="form-control text-box single-line" id="Type" name="Type">
                        <option value="">Select Type</option>
                        <option value="0">Investors</option>
                        <option value="1">Partners</option>
                        <option value="2">Press</option>
                       
                    </select>
                </div>
            </div>
          

        </div>

    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-5">
            <button type="button" id="search-customers" class="btn btn-primary btn-search" onclick="OnSubmit()">
                <i class="fa fa-search"></i>
                Search
            </button>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")

<script>
    function OnSubmit() {
        var url = '@Url.Action("SearchContentResults", "Content")';
        $('#tblSearchResult').load(url, { Name: $("#Name").val(),SearchType: $('#Type').find(":selected").val() });
        $("#divLoader").hide();
    }
</script>