@model  DunkeyDelivery.Areas.User.Models.AboutUsViewModel
@{
    Layout = "~/Areas/User/Views/Shared/_BannerLayout.cshtml";
}


<div class="main-section contact-main-section greybg" style="background: rgba(128, 128, 128, 0.26);">
    <div class="container">
        @if (string.IsNullOrEmpty(Model.VideoUrl) && string.IsNullOrEmpty(Model.Description))
        {
            <div class="row text-center">

                <h2>No Content Found</h2>

            </div>
        }
        else
        {
            <div class="row text-center">

                <iframe width="100%" height="250" src="@Model.VideoUrl" frameborder="0" allowfullscreen></iframe>

            </div>
            <p style="margin: 24px auto;">
                @Model.Description
            </p>

        }

    </div>
</div>