@model DunkeyDelivery.Areas.User.Models.ForgetPasswordEmail
@{

    Layout = "~/Areas/User/Views/Shared/_BannerLayout.cshtml";
}

<div class="main-section login-main-section greybg" style="background: rgba(128, 128, 128, 0.26);">
    <div class="container">
        <div class="row">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare ullamcorper volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla congue, dolor in porttitor efficitur, ante lacus bibendum velit, eu placerat est nibh quis velit. Sed pulvinar eros nec lectus pretium, sed auctor ligula ultricies.
                <div class="col-md-6 padleft">
                    @using (Ajax.BeginForm("NewPassword", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "customSuccessMessage", OnFailure = "OnFailedInsertion" }))
                    {
                        <div class="form-group">

                            @Html.TextBoxFor(x => x.Email, new { name = "Email", @class = "form-control", id = "form-inputs", @placeholder = "Email Address", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger error" })
                       


                        </div>
                         <!-- Response Messages -->
                        <div id="SuccessNotifications" style="display:none;">
                <p id="ModalNotification" style="color:green;">Verification Email Sent</p>

            </div>
            <div style="color:red;" class="alert alert-error" id="error-alert" hidden>
                
                <span style="float: left;margin-top: 11px;" ></span>
            </div>
                        <!-- Response Messages close -->


                        <div class="form-group">
                            <button type="submit" class="btn-submit btn-login">Submit</button>
                        </div>
                    }
                </div>
            </div>

            </div>
            </div>

