
@{
    ViewBag.Title = "EditOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="right_col" role="main">

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel-heading">
                <div class="x_title">
                    <i class="fa fa-arrow-circle-left"></i><a href="@Url.Action("ManageOrders","Orders")"> back to orders list</a>
                    <h3>Edit Order Details</h3>
                   
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @*@Html.Partial("_AddUser")*@
                    @{
                        Html.RenderAction("Edit", "Orders");
                    }
                </div>
            </div>
        </div>
    </div>
</div>

